<!DOCTYPE html>
<html>
  <head>
    <title>JDstore3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row" style="border-radius: 0;">
        <%= render "common/navbar" %>
      </div>
      <%= yield %>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
